<%- include('partials/top.ejs') %> <%- include('partials/navbar.ejs') %> <%-
include('partials/bottom.ejs') %>

<div class="p-5 text-center">
  <h1>Edit/Delete Accounts</h1>
</div>
<div class="row">
  <div class="col-8 offset-2">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>first name</th>
          <th>last name</th>
          <th>Email</th>
          <th>Deposit</th>
          <th>Card</th>
          <th>Actions</th>
       </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < accounts.length; i++){ %>
        <tr>
          <td><%= accounts[i].id %></td>
          <td><%= accounts[i].firstName %></td>
          <td><%= accounts[i].lastName %></td>
          <td><%= accounts[i].email %></td>
          <td><%= accounts[i].deposit %></td>
          <td><%= accounts[i].card %></td>
          <td>
          <a href="/edit/<%= accounts[i]._id %>" class="btn btn-sm btn-warning">Edit</a>
         <a href="/delete/<%= accounts[i]._id %>" class="btn btn-sm btn-primary">Delete</a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  </div>
</div>
